<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Flask Photo Booth</h1> 
   <div class="home">
       <button>
       <a href="/capture">4K?</a>
       </button>

   </div>
   <div class="gallery">
       <button>
       <a href="/all">Mickey Mouse Clubhouse</a>
       </button>
   </div>

   <img src="{{photo}}">

</body>
</html>
